# Binaries
bin/
watcher
watcher-debug

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Dependencies
vendor/

# Local Config
config.local.yaml
.env

# Logs
*.log

# Sui Protos
internal/infra/chain/sui/proto/
